body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    color: black;
}

p {
    margin-bottom: 20px;
}

.example audio {
    width: 100%;
}

/* Agregar estilos adicionales si es necesario */
